<footer class="footer">
  <div class="footer-container columns">
    <div class="column footer-main is-9">
      <div class="footer-header">Built with love by TEN7</div>
      {{site.title}} is built and supported by TEN7 where our mission is to <a href="https://ten7.com/mission">Make Things That Matter</a>.
    </div>
    <div class="column has-text-right is-3">
      <a href="https://ten7.com" class="ten7-link">
        <svg class="footer-logo" width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Visit TEN7</title><path d="M10.25 7.75 16.5 1.5M12.334 1.5h4.167v4.167M16.5 10.667v4.166a1.666 1.666 0 0 1-1.667 1.667H3.167A1.667 1.667 0 0 1 1.5 14.833V3.167A1.667 1.667 0 0 1 3.167 1.5h4.166" /></svg>
        <span>Visit TEN7</span>
      </a>    
    </div>  
  </div>
</footer>
