<head>
  <!-- Google Tag Manager -->
  {{ site.google_tag_manager.head_html }}
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.url == '/' %}
    {% assign title = page.title -%}
  {% else %}
    {% assign title = page.title | append: " - " | append: site.title -%} 
  {% endif %}

  <title>{{ title }}</title>

  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
  <script src="{{ 'assets/js/main.js' | relative_url }}"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">

</head>
